
// TODO merge with LengthChooser style to GameToolbar.scss ?

.TextDropdown {

  display: flex;
  flex-direction: row;

  .ui {
    .form .field label {
      font-weight: bold;
      font-size: 12pt;
    }

    // .selection.dropdown {
    //   //min-width: 8em;
    //   //max-width: 8em;
    // }
  }
}
